<!DOCTYPE html>

<html id="h" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-title" content="SABnzbd">
	
	<title data-bind="text: title"></title>
	
	<link rel="shortcut icon" href="static/images/favicon.ico" />
	<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="rss?mode=history&apikey=$session" />
	
	<link rel="apple-touch-icon" sizes="57x57" href="https://dl.dropbox.com/u/2178680/sabnzbd-knockstrap/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="72x72" href="https://dl.dropbox.com/u/2178680/sabnzbd-knockstrap/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="https://dl.dropbox.com/u/2178680/sabnzbd-knockstrap/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="144x144" href="https://dl.dropbox.com/u/2178680/sabnzbd-knockstrap/apple-touch-icon-144x144.png">
	
	<link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="static/stylesheets/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" href="static/stylesheets/knockstrap.css"/>
	<link rel="stylesheet" type="text/css" href="static/stylesheets/colorschemes/${color_scheme}.css"/>
	
	<script type="text/javascript" src="./static/javascript/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="./static/javascript/jquery-ui-1.9.2.custom.min.js"></script>
	<script type="text/javascript" src="./static/javascript/knockout-2.2.0.min.js"></script>
	<script type="text/javascript" src="./static/javascript/knockout-sortable-0.7.min.js"></script>
	<script type="text/javascript" src="./static/javascript/knockout-filedrop.js"></script>
	<script type="text/javascript" src="./static/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="./static/javascript/xdate.min.js"></script>
	<script type="text/javascript" src="./static/javascript/knockstrap.js"></script>

	<script type="text/javascript">
		apiKey = "$session";
		var main = new MainModel();
		\$(document).ready(function() {
			ko.applyBindings(main, document.getElementById("h"));
		});
	</script>
</head>
<body data-bind="filedrop: { overlaySelector: '.fileDropOverlay', onFileDrop: addFile }">
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
				</button>
				<a class="brand callout" href="."><img src="./static/images/logo.png" /></a>
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li><a href="#queue"><i class="icon-download-alt"></i> $T('menu-queue')</a></li>
						<li><a href="#history"><i class="icon-folder-close"></i> $T('menu-history')</a></li>
						<li><a href="#status"><i class="icon-tasks"></i> $T('menu-cons')</a></li>
						<li><a href="./config/"><i class="icon-cogs"></i> $T('menu-config')</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-question-sign"></i> Help <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="http://wiki.sabnzbd.org" target="_blank">$T('menu-wiki')</a></li>
								<li><a href="http://forums.sabnzbd.org" target="_blank">$T('menu-forums')</a></li>
								<li><a href="http://www.sabnzbd.org/live-chat" target="_blank">$T('menu-irc')</a></li>
								<li class="divider"></li>
								<li><a href="http://aforty.github.io/sabnzbd-knockstrap" target="_blank"><i class="icon-info-sign"></i> Knockstrap Project</a></li>
								<li><a href="http://twitter.com/aforty" target="_blank"><i class="icon-twitter-sign"></i> @aforty</a></li>
							</ul>
						</li>
					</ul>
				
					<ul class="nav pull-right">
						<li><a class="callout" href="#addNZB" data-toggle="modal"><i class="icon-white icon-plus"></i> Add NZB</a></li>
						<li><a class="callout" href="#options" data-toggle="modal"><i class="icon-white icon-cog"></i> Options</a></li>
						<li><a class="callout" href="#" data-bind="click: queue.toggleQueueState"><i data-bind="attr: { 'class': 'icon-white icon-' + (queue.isPaused() ? 'play' : 'pause') }"></i> <span data-bind="text: queue.isPaused() ? 'Resume' : 'Pause'"></span></a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-off icon-white"></i> <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="#" data-bind="click: restart">Restart</a></li>
								<li><a href="#" data-bind="click: shutdown">Shutdown</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Add NZB modal -->
	<div id="addNZB" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="addNZBLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3 id="addNZBLabel">Add an NZB</h3>
		</div>
		<div class="modal-body">
			<div class="container">
				<div class="row-fluid">
					<div class="span6">
						<form data-bind="submit: addUrl">
							<fieldset>
								<legend>$T('add') URL</legend>
								<label>URL</label>
								<input type="text" class="input-large" name="url" placeholder="Paste your URL" />
								<br />
								<button type="submit" class="btn btn-primary">Add</button>
							</fieldset>
						</form>
					</div>
					<div class="span6">
						<form data-bind="submit: addFileFromForm">
							<fieldset>
								<legend>$T('addFile')</legend>
								<label>File</label>
								<input type="file" class="input-large" id="file" />
								<br />
								<button type="submit" class="btn btn-primary">Add</button>
							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		</div>
	</div>
	
	<!-- Options modal -->
	<div id="options" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="optionsLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3 id="optionsLabel">Options</h3>
		</div>
		<div class="modal-body">
			<form class="form-horizontal">
				<div class="control-group">
					<label class="control-label" for="refreshRate">Refresh Rate</label>
					<div class="controls">
						<div class="input-append">
							<input id="refreshRate" class="span1" type="text" pattern="\d*" placeholder="2" data-bind="idevicify: { 'type': 'number' }, value: refreshRate" />
							<span class="add-on">second(s)</span>
						</div>
					</div>
				</div>
				<div class="control-group" data-bind="with: queue">
					<label class="control-label" for="speedLimit">Speed Limit</label>
					<div class="controls">
						<div class="input-append">
							<input id="speedLimit" class="span1" type="text" pattern="\d*" placeholder="No Limit" data-bind="idevicify: { 'type': 'number' }, value: speedLimit" />
							<span class="add-on">KB/s</span>
						</div>
						<button class="btn btn-small" data-bind="toggle: { value: hasSpeedLimit, effect: 'fade' }, click: clearSpeedLimit">Clear</button>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="queueSlotsPerPage">Queue items per page</label>
					<div class="controls">
						<div>
							<input id="queueSlotsPerPage" class="span1" type="text" pattern="\d*" placeholder="20" data-bind="idevicify: { 'type': 'number' }, value: queue.itemsPerPage" />
						</div>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="historySlotsPerPage">History items per page</label>
					<div class="controls">
						<div>
							<input id="historySlotsPerPage" class="span1" type="text" pattern="\d*" placeholder="5" data-bind="idevicify: { 'type': 'number' }, value: history.itemsPerPage" />
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		</div>
	</div>
	
	<!-- Knockstrap update notification -->
	<div class="container updater" style="display: none;" data-bind="with: updater, visible: updater.showUpdateBanner">
		<div class="alert alert-info">
			<button type="button" class="close" data-dismiss="alert" data-bind="click: remindMeLater">&times;</button>
			<h4>Update available for Knockstrap - <a href="#" data-bind="attr: { 'href': downloadUrl }">Download</a></h4>
			<div data-bind="foreach: versionHistorySinceThis">
				<h5>Changes in <span data-bind="text: version"></span></h5>
				<ul data-bind="foreach: changes">
					<li data-bind="text: \$data"></li>
				</ul>
			</div>
		</div>
	</div>
	
	<!-- SABnzbd update notification -->
	<div class="container updater" style="display: none;" data-bind="with: queue.updater, visible: queue.updater.showUpdateBanner">
		<div class="alert alert-info">
			<button type="button" class="close" data-dismiss="alert" data-bind="click: remindMeLater">&times;</button>
			<h4>Update available for SABnzbd (<span data-bind="text: latestVersion"></span>) - <a href="#" data-bind="attr: { 'href': downloadUrl }">Download</a></h4>
		</div>
	</div>
	
	<!-- Queue -->
	<div id="queue" class="container queue" data-bind="with: queue">
		<div class="page-header">
			<h2><i class="icon-download-alt"></i> Queue</h2>
			<h4 data-bind="toggle: { value: showDownloadSpeed, effect: 'fade' }">
				<span data-bind="text: downloadSpeed"></span> <span data-bind="visible: hasSpeedLimit">(limited)</span> (~<span data-bind="text: timeRemaining"></span> remaining)
			</h4>
		</div>
		<div data-bind="toggle: { value: !isEmpty(), effect: 'fade' }, sortable: { data: items, afterMove: moveItem, allowDrop: true }">
			<div class="wrapper">
				<div class="item hero-unit">
					<div class="header">
						<div class="title">
						  <h3 data-bind="text: name, click: editName, visible: !editingName()"></h3>
						  <input data-bind="value: editedName, visible: editingName, hasfocus: editingName" />
						</div>
						<div class="tools">
							<a class="btn btn-mini btn-tiny" href="#" alt="Remove" data-bind="click: \$parent.removeItem"><i class="icon-trash"></i></a>
							<a class="btn btn-mini btn-tiny btn-move" href="#" alt="Move"><i class="icon-move"></i></a>
							<a class="btn btn-mini btn-tiny" href="#" data-bind="click: toggleMore, attr: { 'alt': showMore() ? 'Show Less' : 'Show More' }"><i data-bind="attr: { 'class': showMore() ? 'icon-chevron-up' : 'icon-chevron-down' }"></i></a>
						</div>
					</div>
					<div class="info">
						<span data-bind="text: status"></span>&nbsp;
						<span data-bind="visible: hasData">
							&#8212;&nbsp;
							<span data-bind="text: downloadedMB"></span> of <span data-bind="text: totalMB"></span> MB
						</span>
					</div>
					<div class="progress-container" style="display: none;" data-bind="toggle: { value: showProgressBar, effect: 'fade' }">
						<div data-bind="attr: { 'class': isDownloading() ? 'progress progress-striped active' : 'progress' }">
							<div class="bar" data-bind="attr: { 'style': 'width: ' + percentage() + '%;' }">
								<div class="indicator pull-right"><span data-bind="text: percentage"></span>%</div>
							</div>
						</div>
					</div>
					<div data-bind="toggle: { value: showMore, effect: 'slide' }">
						<a class="btn btn-small" href="#" data-bind="click: toggleState"><i data-bind="attr: { 'class': isPaused() ? 'icon-play' : 'icon-pause' }"></i> <span data-bind="text: isPaused() ? 'Resume' : 'Pause'"></span></a>
						<select data-bind="value: category, options: \$parent.categories"></select>
						<select data-bind="value: priority, options: \$parent.priorities, optionsValue: 'value', optionsText: 'name'"></select>
						<select data-bind="value: option, options: \$parent.options, optionsValue: 'value', optionsText: 'name'"></select>
						<select data-bind="value: script, options: \$parent.scripts, visible: \$parent.hasScripts"></select>
					</div>
				</div>
			</div>
		</div>
		<div class="info" data-bind="toggle: { value: isEmpty(), effect: 'fade' }">
			<p data-bind="visible: isFirstLoad()"><i class="icon-spinner icon-spin"></i> Loading...</p>
			<p data-bind="visible: !isFirstLoad()">Your queue is empty.</p>
		</div>
		<div class="pagination pagination-small" data-bind="visible: hasMultiplePages">
			<ul data-bind="foreach: pages">
				<li data-bind="attr: { 'class': state }"><a href="#" data-bind="click: \$parent.selectPage, text: title"></a></li>
			</ul>
		</div>
	</div>
	
	<!-- History -->
	<div id="history" class="container history" data-bind="with: history">
		<div class="page-header">
			<h2><i class="icon-folder-close"></i> History</h2>
			<h4 data-bind="toggle: { value: !isEmpty(), effect: 'fade' }"><a href="#" data-bind="click: clear">Clear</a></h4>
		</div>
		<div data-bind="toggle: { value: !isEmpty(), effect: 'fade' }, template: { foreach: items }">
			<div class="wrapper">
				<div class="item hero-unit" data-bind="css: { 'error': state('failed') }">
					<div class="header">
						<div class="title">
							<h3>
								<i class="icon-circle-blank" data-bind="visible: state('queued')"></i>
								<i class="icon-refresh icon-spin" data-bind="visible: state('processing')"></i>
								<i class="icon-warning-sign" data-bind="visible: state('failed')"></i>
								<i class="icon-ok" data-bind="visible: state('completed')"></i>
								<span data-bind="text: name"></span>
							</h3>
							<h4>
								<span class="visible-desktop">&#8212;&nbsp;</span><span data-bind="text: status, visible: actionLine() == '' && !state('processing')"></span>&nbsp;<span data-bind="text: '- ' + actionLine(), visible: actionLine() != '' && state('processing')"></span><span data-bind="text: completedOn, visible: state('failed') || state('completed')"></span>
						</h4>
						</div>
						<div class="tools">
						  <a class="btn btn-mini btn-tiny" href="#" alt="Retry" data-bind="click: \$parent.retryItem, visible: state('failed')"><i class="icon-retweet"></i></a>
							<a class="btn btn-mini btn-tiny" href="#" alt="Remove" data-bind="click: \$parent.removeItem"><i class="icon-trash"></i></a>
							<a class="btn btn-mini btn-tiny" href="#" data-bind="click: toggleMore, attr: { 'alt': showMore() ? 'Show Less' : 'Show More' }"><i data-bind="attr: { 'class': showMore() ? 'icon-chevron-up' : 'icon-chevron-down' }"></i></a>
						</div>
					</div>
					<div class="details" data-bind="toggle: { value: showMore, effect: 'slide' }">
						<div class="row">
							<div class="span1 title">Category:</div>
							<div class="span10 value" data-bind="text: category"></div>
						</div>
						<div class="row">
							<div class="span1 title">Size:</div>
							<div class="span10 value" data-bind="text: size"></div>
						</div>
						<div class="row">
							<div class="span1 title">Path:</div>
							<div class="span10 value" data-bind="text: path"></div>
						</div>
						<span data-bind="foreach: stages">
							<div class="row">
								<div class="span1 title"><span data-bind="text: name"></span>:</div>
								<div class="span10 value" data-bind="html: actions.join('<br />')"></div>
							</div>
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="info" data-bind="toggle: { value: isEmpty(), effect: 'fade' }">
			<p data-bind="visible: isFirstLoad()"><i class="icon-spinner icon-spin"></i> Loading...</p>
			<p data-bind="visible: !isFirstLoad()">Your history is empty.</p>
		</div>
		<div class="pagination pagination-small" data-bind="visible: hasMultiplePages">
			<ul data-bind="foreach: pages">
				<li data-bind="attr: { 'class': state }"><a href="#" data-bind="click: \$parent.selectPage, text: title"></a></li>
			</ul>
		</div>
	</div>
	
	<!-- Status -->
	<div id="status" class="status container" data-bind="with: status">
		<div class="page-header">
			<h2><i class="icon-tasks"></i> Status</h2>
			<h4 data-bind="toggle: { value: !isEmpty(), effect: 'fade' }"><a href="#" data-bind="click: clear">Clear</a></h4>
		</div>
		<div class="warnings" data-bind="toggle: { value: !isEmpty(), effect: 'fade' }, template: { foreach: items, beforeRemove: hideItem, afterAdd: showItem }">
			<div data-bind="attr: { 'class': 'alert alert-' + cssType() }">
				<div class="row">
				<div class="span9"><strong data-bind="text: type"></strong> <span data-bind="text: text"></span></div>
				<div class="span2 pull-right timestamp"><span data-bind="text: date"></span></div>
				</div>
			</div>
		</div>
		<div class="info" data-bind="toggle: { value: isEmpty(), effect: 'fade' }">
			<p data-bind="visible: isFirstLoad()"><i class="icon-spinner icon-spin"></i> Loading...</p>
			<p data-bind="visible: !isFirstLoad()">You have no warnings or errors.</p>
		</div>
	</div>
	
	<!-- File Drop Zone -->
  <div class="fileDropOverlay modal-backdrop fade in"><i class="icon icon-plus-sign-alt"></i></div>
</body>